{% extends 'common/base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-12">
            <div class="thumbnail">
                <img class="img-rounded" src="{{ user_profile.image_profile.url }}" />
                <div class="caption">
                    <h3>{{ user_profile.authentication_user.get_full_name }}</h3>
                    {% if user_profile.age %}
                    <p><strong>Age:</strong> {{ user_profile.age }}</p>
                    {% endif %}
                    {% if user_profile.gender %}
                    <p><strong>Gender:</strong> {{ user_profile.gender }}</p>
                    {% endif %}
                    <p><strong>Is smoker:</strong> {{ user_profile.is_smooker }}</p>
                    <p><strong>Is drinker:</strong> {{ user_profile.is_drinker }}</p>
                    <p><strong>Email:</strong> {{ user_profile.authentication_user.email }}</p>
                    <p><strong>Date joined:</strong> {{ user_profile.authentication_user.date_joined }}</p>
                    <p><strong>Last login:</strong> {{ user_profile.authentication_user.last_login }}</p>
                    {% if user_profile.bio %}
                    <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
                    {% endif %}

                    <a href="{% url 'accounts:update_user_profile' %}">
                        <btn class="btn btn-success">Edit profile</btn>
                    </a>
                </div>
            </div><!-- thumbnail -->
        </div><!-- col-md -->
    </div><!-- row -->
</div><!-- container -->

{% endblock %}
